.footer {
  padding: 60px 15px 60px 15px;
}

.footer_container {
  display: flex;
  align-items: baseline;
}

.footer__info {
  margin-right: 70px;
}

.footer__logo {
  color: $lighter;

  margin-bottom: 20px;
}

.contacts-list__item--vertical {
  margin-right: 0;
  margin-bottom: 9px;
}

.contacts-list__item--vertical:last-child {
  margin-bottom: 0;
}

.contacts-list__address {
  color: $lighter;

  font-size: 14px;
  line-height: 1.7;
}

.contacts-list__link--vertical {
  color: $footer-lighter-60;

  display: block;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.contacts-list__link--last {
  margin-bottom: 0;
}

.footer__join-us {
  margin-right: 93px;
}

.footer__text,
.sub-form__text {
  display: block;
  margin-bottom: 20px;

  color: $lighter;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social-link--dark {
  background-color: $footer-social;
}

.social-link__icon--dark {
  background-color: transparent;
  fill: $lighter;
}

.join-us .social-links .link:hover,
.join-us .social-links .link:focus {
  background-color: $accent;
}

.sub-form {
  min-width: 570px;
}

.sub-form__field {
  display: inline-block;
}

.sub-form__input {
  min-height: 50px;
  margin-right: 12px;
  padding: 15px 15px;
  outline: none;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: $footer-lighter-60;
}

.sub-form__input::placeholder {
  color: $footer-lighter-60;
}

.sub-form__label {
  visibility: none;

  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.footer__button--primary {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
}

.button__text {
  display: inline-flex;
  margin-bottom: 0;
  margin-right: 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;

  text-transform: none;
}

.button__sub-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  fill: $lighter;
}
